 
 #upper-gap{
    padding: 100px 0px;
    width: 550px;
} 
.gap{
    padding: 70px 0px;
}
h1{

font-size: 60px;
font-style: normal;
font-weight: 700;
text-align: left;

}
.women-jacket-footer{
    float: left;
}
.cart-image{
width: 80px;
border-radius: 5px;
}
.penguin-card{
    border: 0px;
    padding: 5px;
    border-radius: 10px;
   

}
.penguin-card-footer{
    border: 0px;
    background-color: white;
}
.card-img-top{
    height: 400px;
  padding: 20px;
  background-color: rgb(238, 231, 231);
  border-radius: 5px;
}
.info-image{
    width: 100px;
    border-radius: 5px;
  
}
.btn{
    
    height: 50px;
}
.btn img{
   
    height: 20px
}
.info-card{
    border: 0px;
}
#ad-pic{
    height: 350px;
}
.categories img{
    width: 80px;
    border-radius: 5px;
}
/* main{
    width: 1200px;
    max-width: 90%;
    margin: auto;
} */

